<div class="text_box">
<br>
<h2>「Brain Storming for Noma」の使い方</h2>
<img src="https://d1f5hsy4d47upe.cloudfront.net/32/321a955bc6f034959f12beba3425b50e_t.jpeg" width=70%>
<p>このWebサービスは、</p>
<p>ノマドワークやリモートワーク、</p>
<p>もしくはチャット中心で業務を行なっている際に、</p>
<p>スピーディーなブレストを行うためのサービスです。</p>
<br>
<br>
<h2>使い方は簡単３ステップ。</h2>
<p>①ユーザー登録をしましょう。</p>
<p>②新規投稿ボタンを押しましょう。</p>
<p>③アイデアを書いて投稿ボタンを押しましょう。</p>
<br>
<p>それではあなたも楽しいブレストライフを！</p>
</div>