<!--個々のツイートを表示する-->
<% @tweets.each do |tweet| %>
  <div class="square_card">
    <!--投稿内容の表示-->
    <div class="text_box">
      <div id="idea_text"><p><%= tweet.text %></p></div>
    </div>
    <!--オプション機能の表示-->
    <div class="card_functions">
      <!--ユーザーが投稿したツイートのみを対象とする選別機能-->
      <% if user_signed_in? && current_user.id == tweet.user_id %>
        <!--編集ボタンの表示-->
        <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %>
        <!--削除ボタンの表示-->
        <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
      <% end %>
    </div>
  </div>
<% end %>