<div class="contents row">
  <%= form_tag('/tweets', method: :post) do %>
    <h3>
      投稿する
    </h3>
    <textarea name="text" placeholder="State your idea in 17 characters or less" rows="3" cols="7" maxlength="19"></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>