// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 480px){
  /*ここにどんどん追記していきます！*/
  .square_card{
  background-color: #fff9c4;
  display: inline-block;
  height: 0;
  width: 90%;
  margin: 1em;
  padding-bottom: 90%;
  vertical-align: top;
  position: relative;
  box-shadow: 2px 2px 4px gray;
  }
}

@media screen and (min-width: 781px){
  /*ここにどんどん追記していきます！*/
  .square_card{
  background-color: #fff9c4;
  display: inline-block;
  height: 0;
  width: 20%;
  margin: 1em;
  padding-bottom: 20%;
  vertical-align: top;
  position: relative;
  box-shadow: 2px 2px 4px gray;
  }
}


  .text_box{
  margin: 1em;
  font-family: "游ゴシック", "YuGothic", "メイリオ", meiryo, sans-serif;
  font-size: 2vw;
  text-align: center;
  }
  

.card_functions{
  margin:1em;
  position: absolute;
  bottom: 0;
}

// .card_functions{
  // display: inline-box;
  // float: left;
// }